
	body {

		width: 980px;
		margin:0 auto;
		border: 2px solid #ccc;
		background-image: url("../images/concrete-texture.png");
		color: #777777;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	}

	

    /*Nave Bar */

	.container-fluid {
		padding: 0 100px 0 100px; 
		
	}

	.navbar-default .navbar-brand {
    	color: #fff;
	}

	.navbar-header {
		background-color: #4aaaa5;
		/*color:#fff;*/
		padding:20px 30px 20px 30px;
	}

	.nav{
		padding-top: 20px;
	}
    /* End Nave Bar */

    /*main content*/


	.maincontent{
		width: 650px;
		background-color: #fff;
		border: 2px solid #dddddd;
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 25px;
		padding: 10px;
		margin-bottom: 40px;

	}

	.mainheading h1{
			font-size: 25px;
			font-weight: bold;
			padding: 0px 20px 0px 20px;
			color: #4aaaa5;
		}

	.mainheading hr{
			margin-bottom: 15px;
			color: #dddddd;
			height: 2px;
			background: #dddddd;
			font-size: 0;
			border: 0;
		}

	/*End main content*/


	/*Sidebar*/

	.sidebar {
		float: left;
		background-color: #fff;
		border: 2px solid #dddddd;
		padding: 0;
		margin-top: 10px;
		width: 270px;
		/*margin-top: 20px;
		margin-right: 10px;
		padding-top: 20px;
		padding-bottom: 30px;*/
	}
	
	.socialheading {
		padding: 0;
	}
	.socialheading h2 {
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color: #4aaaa5;
		padding-bottom: 0;
		width: 77%;
		padding-left: 0;
		margin-left: 0;

	}

	.socialheading hr{
		width: 77%;
		margin-bottom: 15px;
		color: #dddddd;
		height: 2px;
		background: #dddddd;
		font-size: 0;
		border: 0;
	}

	.socialImages{
		margin-left: 15px;
	}

	.socialImages img{
		width:25%;
		float: left;
		margin: 2%;
	}
	/*End Sidebar*/


	/* Portfolio Page*/
	.image {
	  width: 100%;
	  border: 0 none;
	  opacity: 0.8;
	}

	.galleryimg {
	  	position: relative;
	  	/*width: 100%;*/
	  	margin: 20px 0 10px;
	  	overflow: auto;
	}

	.contentimg h1{
			font-size: 25px;
			font-weight: bold;
			padding: 0 20px 0 20px;
			color: #4aaaa5;
	}

	.contentimg hr{
			width: 100%;
			margin-bottom: 15px;
			color: #dddddd;
			height: 2px;
			background: #dddddd;
			font-size: 0;
			border: 0;
		}



	.galleryimg h3 {
	  position: absolute;
	  bottom: 10px;
	  width: 90%;
	  padding: 5px 0 5px 0;

	  font-size: 20px;
	  margin-bottom: 0;
	  font-weight: 300;
	  line-height: 20px;
	  color: #fff;
	  text-align: center;
	  background: #4aaaa5;
	  border-bottom: 0;
	}

	/* End Portfolio */


    /*Footer*/
    .footer {

		padding: 10px;
		background-color: #75777a;
		font-size: 15px;
		text-align: center;
		border-top: 8px solid #4aaaa5;
		color: #a9abad;
	}
	
	/* Responsive Design According to */

	/* Large desktops and laptops */
	@media (min-width: 1200px) {
		
	}

	/* Landscape tablets and medium desktops */
	@media (min-width: 992px) and (max-width: 1199px) {
		.maincontent{
			width: 600px;
			background-color: #fff;
			border: 2px solid #dddddd;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 25px;
			padding: 10px;
			margin-bottom: 40px;

		}
	}

	/* Portrait tablets and small desktops */
	@media (min-width: 768px) and (max-width: 991px) {
		body {

			width: 100%;
		}

	}

	/* Landscape phones and portrait tablets */
	@media (max-width: 767px) {

	}

	/* Portrait phones and smaller */
	@media (max-width: 480px) {

	}